# Book settings
title: "" 
author: ""
logo: logo.svg

latex:
  latex_documents:
    targetname: book.tex

repository:
  url: "https://github.com/HaeffnerLab/IonSim.jl-Examples"
  path_to_book: "webpage"

execute:
  stderr_output: remove 
  execute_notebooks: cache
  timeout: 1000000 
  allow_errors: true
  exclude_patterns: ["not-included/*"]

html:
  use_repository_button: true
  use_issues_button: true
  use_edit_page_button: true
  favicon: "https://github.com/HaeffnerLab/IonSim.jl-Examples/blob/master/webpage/logo.svg"

sphinx:
  config:
    html_favicon: small-logo.png
    html_static_path: ['customize']
    html_js_files: ['customize.js']
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

launch_buttons: 
  thebe: true
  colab_url: false
  binderhub_url: "https://mybinder.org"

parse:
  myst_extended_syntax: true
